@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Noto Sans",sans-serif ;
}
html {
    scroll-behavior: smooth;
}
body{
    overflow: visible;
}
:root{
    --color-bg-dark: #000000;
    --color-bg-gray: #333333;
    --color-text:#222222;
}
.top-bar{
    max-width: 100%;
    height: auto;
    background-color: var(--color-bg-gray);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: white;
}
.top-bar a{
    text-decoration: none;
    color: white;
}
.menu i{
      padding-left: 20px;
}
.logo img{
    width: 120px;
    height: auto;
}
.navbar{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 32px;
}
.nav-links{
    flex: 1;              
    display: flex;
    justify-content: center;
}
.nav-links ul li{
    padding: 16px 18px;   
    white-space: nowrap; 
}
.navbar{
    overflow-x: hidden;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    list-style: none;
    padding: 20px 30px;
}
.nav-links a{
    text-decoration: none;
    color: var(--color-bg-gray);
    font-size: 20px;
}
.search-opt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.title{
    display: block;
    padding: 10px 45px;
    font-size: 20px;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.wrapper{
    position: relative;
   
}
.wrapper img{
    max-width: 100%;
    display: block;
}
#wrap-text{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-size: clamp(24px, 5vw, 50px);
    font-weight: 700;
}
 #brands{ 
    width: 100%;
}
.brands-row {
    max-width: 1200px;
    margin: auto;
}

.brands-row img{
    max-width: 200px;
    /* padding: 30px; */
} 
/* .brands-row ul{
    display: flex;
    list-style: none;
    padding:30px;
    margin: 0 10px;
} */
.brands-row ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
    margin: 50px 50px;
    flex-wrap: wrap; 
    list-style: none;
}

#performance{
    background-color: var(--color-bg-dark);
    overflow: visible;
}
.pef-outer{
    padding: 0 20px;
    margin: 0 20px;
}
.head-pef{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 64px 0 24px;
}
.head-pef h2{   
    display: block;
    font-size: 43px;
    font-weight: 600;
    margin:0 0 16px;
}
.perf-ad img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

.perf-row{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 20px 0;
}
#bold{
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 16px;
}
.col1,.col2,.col3{
    display: flex;
    flex: 1;
    flex-direction: column !important;
    align-items: center;
    padding: 0 8px;
}
.col1 p,.col2 p,.col3 p{
   padding-bottom: 5px;
}
#Graphics{
    background-color: var(--color-bg-gray);
    overflow: visible;
}
.graph-outer{
    padding: 0 20px;
    margin: 0 20px;
}
.graph-pef{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 64px 0 24px;
}
.graph-pef h2{
    display: block;
    font-size: 43px;
    font-weight: 600;
    margin:0 0 16px;
}
.graph-ad img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}
.graph-row{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 20px 0;
}
.graph-specs{
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-bottom: 64px;
}
.specs-col1,.specs-col2,.specs-col3{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column !important;
    align-items: center;
    padding: 0 10px;
    justify-self: center;
    font-size: 18px;
    text-align: center;
}
#ngr{
    background-color: var(--color-bg-dark);
    overflow: visible;
}
.ngr-outer{
    padding: 0 20px;
    margin: 0 20px;
}
.ngr-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 64px 0 24px;
}
.ngr-head h2{
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin:0 0 16px;
}
.ngr-ad img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}
.ngr-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-bottom: 64px;
    
}
.ngr-row img{
    width: 100%;
}
.ngr-col1 p,.ngr-col2 p,.ngr-col3 p{
     color: white;
     text-align: center;
     font-size: 18px;
}

/* VISUAL */
#visual{
    background-color: var(--color-bg-gray);
}
.visual-outer{
    padding: 0 20px;
    margin: 0 20px;
}
.visual-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 64px 0 24px;
}
.visual-head h2{
    display: block;
    font-size: 43px;
    font-weight: 600;
    margin:0 0 16px;
}
.visual-ad img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}
.visual-row{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 20px 0;
}

/* AI-CONTROL */
#AI-control{
    background-color: var(--color-bg-dark);
}
.AI-control-outer{
      padding: 0 20px;
    margin: 0 20px;
}
.AI-control-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 64px 0 24px;
}
.AI-control-head h2{
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin:0 0 16px;
}
.AI-control-ad img{
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}
.AI-control-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-bottom: 80px;
    /* max-width: 1300px; */
}
.AI-control-row img{
    width: 100%;
}
.AI-control-col1,.AI-control-col2,.AI-control-col3{
    color: white;
     text-align: center;
     font-size: 18px;
}
/* DISCOVER */

#Discover{
    background-color: var(--color-bg-gray);
}
.discover-outer{
    padding: 0 20px;
    margin: 0 20px;
}
.discover-head{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 64px 0 24px;
    text-align: center;
}
.discover-head h2{
     display: block;
    font-size: 40px;
    font-weight: 600;
    margin:0 0 16px;
}
.discover-ad img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

/* description */
#description{
    background-color: white;
}
.desc-box{
    margin: 50px;
}
.desc-box p{
    font-size: 14px;
    color: var(--color-text);
    margin: 0 0 16px;
}
.desc-box a{
    color: green;
}
.btn{
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
    border: none;
}
.btn a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
#footer{
     background-color: #f0f0f0;
}
.footer-outer{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid;
}
.foot1 ul,.foot2 ul,.foot3 ul,.foot4 ul{
    list-style: none;
}
.foot1 ul li,.foot2 ul li,.foot3 ul li,.foot4 ul li{
    padding: 10px 0;
    font-size: 20px;
}
.foot1 p,.foot2 p,.foot3 p,.foot4 p{
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 10px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 ;
}
.social-icons a{
    color: #000;
    font-size: 30px;
    padding: 20px;
}
.contact-menu{
    display: flex;
    padding: 20px 0;
}
.contact-menu a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 14px;
}
.place-year{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place-year p{
    padding: 10px 0;
}

@media (max-width: 992px) {

  /* Navbar */
  .nav-links ul li {
    /* padding: 14px 16px; */
    display: none;
  }
  
  /* PERF / GRAPH / VISUAL rows */
  .perf-row,
  .graph-row,
  .visual-row {
    flex-wrap: wrap;
    gap: 20px;
  }

  /* Graph specs */
  .graph-specs {
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 40px;
  }

  /* NGR section */
  .ngr-row {
    grid-template-columns: repeat(2, 1fr);
  }

  /* AI Control */
  .AI-control-row {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Footer */
  .footer-outer {
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 20px;
  }
  .perf-row,
  .graph-row,
  .visual-row {
    flex-direction: column;
    gap: 20px;
  }
 .ngr-row,.AI-control-row {
        grid-template-columns: 1fr;
    }
  #bold{
    font-size: 27px;
  }
 .footer-outer ul{
    display: none;
 }
 #ngr ,#visual,#AI-control,#performance ,#Graphics{
    text-align: center;
  }

}





















@media (max-width: 576px) {

  /* Top bar */
  .top-bar {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }
  .top-bar .logo,.menu{
    display: none;
  }
  /* Navbar */
  .navbar {
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 10px;
  }
  .nav-links{
    display: none;
  }
  /* .nav-links ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-links ul li {
    padding: 10px 0;
  } */

  /* Hero text */
  #wrap-text {
    top: 30%;
    left: 5%;
    font-size: 26px;
  }

  /* Brands */
  .brands-row ul {
    justify-content: center;
    margin: 20px;
  }

  .brands-row img {
    max-width: 140px;
  }

  /* PERF / GRAPH / VISUAL rows */
  .perf-row,
  .graph-row,
  .visual-row {
    flex-direction: column;
    gap: 20px;
  }

  #bold {
    font-size: 26px;
  }

  /* Graph specs */
  .graph-specs {
    flex-direction: column;
    gap: 20px;
  }

  /* NGR section */
  .ngr-row {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  /* AI Control */
  .AI-control-row {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  /* Footer */
  .footer-outer {
    flex-direction: column;
    gap: 30px;
  }

  .contact-menu {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  #ngr ,#visual,#AI-control,#performance ,#Graphics{
    text-align: center;
  }
  .visual-head h2,.discover-head h2,.AI-control-head h2,.head-pef h2,.graph-pef h2{
    font-size: 32px;
  }
}
